<header class="border-b border-solid border-gray-200">
  <div class="max-w-5xl mx-auto flex px-5 py-2 justify-between">
    <a href="/">
      <img src="../../../assets/logo.png" alt="logo" class="h-16">
    </a>
    
    <nav class="flex items-center gap-5">
      <!-- <ul class="flex items-center text-sm">
        @for (need of needs; track need.id) {
          <li class="px-3 py-2 text-gray-500 hover:text-gray-700">
            <a [href]="need.path">
              {{need.title}}
            </a>
          </li>
        }
      </ul> -->

      <button class="px-3 py-2 rounded hover:bg-gray-100 transition-colors">
        <span class="uppercase text-blue-600 font-bold text-sm">Entrar</span>
      </button>
    </nav>
  </div>
</header>