<footer class="bg-blue-700 py-20">
  <div class="max-w-5xl mx-auto grid grid-cols-4">
    <section>
      <h3 class="text-gray-200 font-semibold">Ficaqui</h3>
      <ul class="pl-2 pt-2 flex-col">
        <li>Home</li>
        <li>Acomodações</li>
        <li>Companheiros</li>
        <li>Sobre</li>
        <li>Blog</li>
      </ul>
    </section>
    <section>
      <h3 class="text-gray-200 font-semibold">Amado por brasileiros</h3>
      <ul class="pl-2 pt-2 flex-col">
        <li>Sydney</li>
        <li>Melbourne</li>
        <li>Adelaide</li>
        <li>Perth</li>
        <li>Brisbane</li>
        <li>Gold Coast</li>
      </ul>
    </section>
    <section>
      <h3 class="text-gray-200 font-semibold">Segue a gente ai</h3>
      <ul class="pl-2 pt-2 flex-col">
        <li>Facebook</li>
        <li>Instagram</li>
      </ul>
    </section>
    <section>
      <h3 class="text-gray-200 font-semibold">Mais</h3>
      <ul class="pl-2 pt-2 flex-col">
        <li>Contribua para o projeto</li>
        <li>Reporte um erro</li>
        <li>Reporte uma publicação</li>
      </ul>
    </section>
  </div>
</footer>